DATABASE_URL=postgresql://user:password@localhost:5432/dbname?schema=public
DIRECT_URL=postgresql://user:password@localhost:5432/dbname?schema=public

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=